dfacdatasciencelabpayano/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfacdatasciencelabpayano"
		},
		"linked_service_adlsdatasciencelab_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'linked_service_adlsdatasciencelab'"
		},
		"linked_service_blobdatasciencelab_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'linked_service_blobdatasciencelab'"
		},
		"linked_service_blobdatasciencelab01_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'linked_service_blobdatasciencelab01'"
		},
		"linked_service_adlsdatasciencelab_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stacdatasciencelabpayano.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/linked_service_adlsdatasciencelab')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('linked_service_adlsdatasciencelab_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('linked_service_adlsdatasciencelab_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linked_service_blobdatasciencelab')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('linked_service_blobdatasciencelab_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linked_service_blobdatasciencelab01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('linked_service_blobdatasciencelab01_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_creditcard')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string"
					},
					"nombre_directorio": {
						"type": "string"
					}
				},
				"folder": {
					"name": "landing/advw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CreditCardID",
						"type": "String"
					},
					{
						"name": "CardType",
						"type": "String"
					},
					{
						"name": "CardNumber",
						"type": "String"
					},
					{
						"name": "ExpMonth",
						"type": "String"
					},
					{
						"name": "ExpYear",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string"
					},
					"nombre_directorio": {
						"type": "string"
					}
				},
				"folder": {
					"name": "landing/advw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "PersonID",
						"type": "String"
					},
					{
						"name": "StoreID",
						"type": "String"
					},
					{
						"name": "TerritoryID",
						"type": "String"
					},
					{
						"name": "AccountNumber",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_emailaddress')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string"
					},
					"nombre_directorio": {
						"type": "string"
					}
				},
				"folder": {
					"name": "landing/advw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "BusinessEntityID",
						"type": "String"
					},
					{
						"name": "EmailAddressID",
						"type": "String"
					},
					{
						"name": "EmailAddress",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_person')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string"
					},
					"nombre_directorio": {
						"type": "string"
					}
				},
				"folder": {
					"name": "landing/advw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "BusinessEntityID",
						"type": "String"
					},
					{
						"name": "PersonType",
						"type": "String"
					},
					{
						"name": "NameStyle",
						"type": "String"
					},
					{
						"name": "Title",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "MiddleName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "Suffix",
						"type": "String"
					},
					{
						"name": "EmailPromotion",
						"type": "String"
					},
					{
						"name": "Demographics",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_personcreditcard')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string"
					},
					"nombre_directorio": {
						"type": "string"
					}
				},
				"folder": {
					"name": "landing/advw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "BusinessEntityID",
						"type": "String"
					},
					{
						"name": "CreditCardID",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_personphone')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string"
					},
					"nombre_directorio": {
						"type": "string"
					}
				},
				"folder": {
					"name": "landing/advw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "BusinessEntityID",
						"type": "String"
					},
					{
						"name": "PhoneNumber",
						"type": "String"
					},
					{
						"name": "PhoneNumberTypeID",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string"
					},
					"nombre_directorio": {
						"type": "string"
					}
				},
				"folder": {
					"name": "landing/advw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "ProductNumber",
						"type": "String"
					},
					{
						"name": "MakeFlag",
						"type": "String"
					},
					{
						"name": "FinishedGoodsFlag",
						"type": "String"
					},
					{
						"name": "Color",
						"type": "String"
					},
					{
						"name": "SafetyStockLevel",
						"type": "String"
					},
					{
						"name": "ReorderPoint",
						"type": "String"
					},
					{
						"name": "StandardCost",
						"type": "String"
					},
					{
						"name": "ListPrice",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "SizeUnitMeasureCode",
						"type": "String"
					},
					{
						"name": "WeightUnitMeasureCode",
						"type": "String"
					},
					{
						"name": "Weight",
						"type": "String"
					},
					{
						"name": "DaysToManufacture",
						"type": "String"
					},
					{
						"name": "ProductLine",
						"type": "String"
					},
					{
						"name": "Class",
						"type": "String"
					},
					{
						"name": "Style",
						"type": "String"
					},
					{
						"name": "ProductSubcategoryID",
						"type": "String"
					},
					{
						"name": "ProductModelID",
						"type": "String"
					},
					{
						"name": "SellStartDate",
						"type": "String"
					},
					{
						"name": "SellEndDate",
						"type": "String"
					},
					{
						"name": "DiscontinuedDate",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_productcategory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string"
					},
					"nombre_directorio": {
						"type": "string"
					}
				},
				"folder": {
					"name": "landing/advw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProductCategoryID",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_productsubcategory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string"
					},
					"nombre_directorio": {
						"type": "string"
					}
				},
				"folder": {
					"name": "landing/advw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProductSubcategoryID",
						"type": "String"
					},
					{
						"name": "ProductCategoryID",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_salesorderdetail')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string"
					},
					"nombre_directorio": {
						"type": "string"
					}
				},
				"folder": {
					"name": "landing/advw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SalesOrderID",
						"type": "String"
					},
					{
						"name": "SalesOrderDetailID",
						"type": "String"
					},
					{
						"name": "CarrierTrackingNumber",
						"type": "String"
					},
					{
						"name": "OrderQty",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "SpecialOfferID",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "UnitPriceDiscount",
						"type": "String"
					},
					{
						"name": "LineTotal",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_salesorderheader')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string"
					},
					"nombre_directorio": {
						"type": "string"
					}
				},
				"folder": {
					"name": "landing/advw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SalesOrderID",
						"type": "String"
					},
					{
						"name": "RevisionNumber",
						"type": "String"
					},
					{
						"name": "OrderDate",
						"type": "String"
					},
					{
						"name": "DueDate",
						"type": "String"
					},
					{
						"name": "ShipDate",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "OnlineOrderFlag",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "PurchaseOrderNumber",
						"type": "String"
					},
					{
						"name": "AccountNumber",
						"type": "String"
					},
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "SalesPersonID",
						"type": "String"
					},
					{
						"name": "TerritoryID",
						"type": "String"
					},
					{
						"name": "BillToAddressID",
						"type": "String"
					},
					{
						"name": "ShipToAddressID",
						"type": "String"
					},
					{
						"name": "ShipMethodID",
						"type": "String"
					},
					{
						"name": "CreditCardID",
						"type": "String"
					},
					{
						"name": "CreditCardApprovalCode",
						"type": "String"
					},
					{
						"name": "CurrencyRateID",
						"type": "String"
					},
					{
						"name": "SubTotal",
						"type": "String"
					},
					{
						"name": "TaxAmt",
						"type": "String"
					},
					{
						"name": "Freight",
						"type": "String"
					},
					{
						"name": "TotalDue",
						"type": "String"
					},
					{
						"name": "Comment",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string",
						"defaultValue": "archivo"
					},
					"nombre_directorio": {
						"type": "string",
						"defaultValue": "directorio"
					}
				},
				"folder": {
					"name": "raw/advw"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_blobdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string",
						"defaultValue": "archivo"
					},
					"nombre_directorio": {
						"type": "string",
						"defaultValue": "directorio"
					}
				},
				"folder": {
					"name": "raw/advw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"container": "landing"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SalesOrderID",
						"type": "String"
					},
					{
						"name": "RevisionNumber",
						"type": "String"
					},
					{
						"name": "OrderDate",
						"type": "String"
					},
					{
						"name": "DueDate",
						"type": "String"
					},
					{
						"name": "ShipDate",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "OnlineOrderFlag",
						"type": "String"
					},
					{
						"name": "SalesOrderNumber",
						"type": "String"
					},
					{
						"name": "PurchaseOrderNumber",
						"type": "String"
					},
					{
						"name": "AccountNumber",
						"type": "String"
					},
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "SalesPersonID",
						"type": "String"
					},
					{
						"name": "TerritoryID",
						"type": "String"
					},
					{
						"name": "BillToAddressID",
						"type": "String"
					},
					{
						"name": "ShipToAddressID",
						"type": "String"
					},
					{
						"name": "ShipMethodID",
						"type": "String"
					},
					{
						"name": "CreditCardID",
						"type": "String"
					},
					{
						"name": "CreditCardApprovalCode",
						"type": "String"
					},
					{
						"name": "CurrencyRateID",
						"type": "String"
					},
					{
						"name": "SubTotal",
						"type": "String"
					},
					{
						"name": "TaxAmt",
						"type": "String"
					},
					{
						"name": "Freight",
						"type": "String"
					},
					{
						"name": "TotalDue",
						"type": "String"
					},
					{
						"name": "Comment",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_blobdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string",
						"defaultValue": "archivo"
					},
					"nombre_directorio": {
						"type": "string",
						"defaultValue": "directorio"
					}
				},
				"folder": {
					"name": "raw/advw"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_specialoffer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string"
					},
					"nombre_directorio": {
						"type": "string"
					}
				},
				"folder": {
					"name": "landing/advw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SpecialOfferID",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "DiscountPct",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "StartDate",
						"type": "String"
					},
					{
						"name": "EndDate",
						"type": "String"
					},
					{
						"name": "MinQty",
						"type": "String"
					},
					{
						"name": "MaxQty",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_specialofferproduct')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linked_service_adlsdatasciencelab",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"nombre_archivo": {
						"type": "string"
					},
					"nombre_directorio": {
						"type": "string"
					}
				},
				"folder": {
					"name": "landing/advw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().nombre_archivo,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('advw/',dataset().nombre_directorio)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SpecialOfferID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "rowguid",
						"type": "String"
					},
					{
						"name": "ModifiedDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linked_service_adlsdatasciencelab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CRAW_ADVW_GRUPO01')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Verificar Si Existe ProductCategory",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_source_csv",
								"type": "DatasetReference",
								"parameters": {
									"nombre_archivo": "ProductCategory",
									"nombre_directorio": {
										"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Si Archivo ProductSubcategory Existe",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Verificar Si Existe ProductSubcategory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Verificar Si Existe ProductSubcategory').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copia de Archivo ProductSubcategory",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_source_csv",
											"type": "DatasetReference",
											"parameters": {
												"nombre_archivo": "ProductSubcategory",
												"nombre_directorio": {
													"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_source_parquet",
											"type": "DatasetReference",
											"parameters": {
												"nombre_archivo": "productsubcategory",
												"nombre_directorio": {
													"value": "@concat('data/productsubcategory')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Mover Archivo ProductSubcategory",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copia de Archivo ProductSubcategory",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_source_binary",
											"type": "DatasetReference",
											"parameters": {
												"nombre_archivo": "ProductSubcategory",
												"nombre_directorio": {
													"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_source_binary",
											"type": "DatasetReference",
											"parameters": {
												"nombre_archivo": "ProductSubcategory",
												"nombre_directorio": {
													"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Verificar Si Existe SpecialOffer",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_source_csv",
								"type": "DatasetReference",
								"parameters": {
									"nombre_archivo": "SpecialOffer",
									"nombre_directorio": {
										"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Verificar Si Existe ProductSubcategory",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_source_csv",
								"type": "DatasetReference",
								"parameters": {
									"nombre_archivo": "ProductSubcategory",
									"nombre_directorio": {
										"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Si Archivo SpecialOffer Existe",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Verificar Si Existe SpecialOffer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Verificar Si Existe SpecialOffer').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copia de Archivo SpecialOffer",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "SpecialOfferID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SpecialOfferID",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "Description",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Description",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "DiscountPct",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DiscountPct",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "Type",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Type",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "Category",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Category",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "StartDate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "StartDate",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "EndDate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EndDate",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "MinQty",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "MinQty",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "MaxQty",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "MaxQty",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "rowguid",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "rowguid",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "ModifiedDate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ModifiedDate",
														"type": "String",
														"physicalType": "UTF8"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_source_csv",
											"type": "DatasetReference",
											"parameters": {
												"nombre_archivo": "SpecialOffer",
												"nombre_directorio": {
													"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_source_parquet",
											"type": "DatasetReference",
											"parameters": {
												"nombre_archivo": "specialoffer",
												"nombre_directorio": {
													"value": "@concat('data/specialoffer')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Mover Archivo SpecialOffer",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copia de Archivo SpecialOffer",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_source_binary",
											"type": "DatasetReference",
											"parameters": {
												"nombre_archivo": "SpecialOffer",
												"nombre_directorio": {
													"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_source_binary",
											"type": "DatasetReference",
											"parameters": {
												"nombre_archivo": "SpecialOffer",
												"nombre_directorio": {
													"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Si Archivo ProductCategory Existe",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Verificar Si Existe ProductCategory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Verificar Si Existe ProductCategory').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copia de Archivo ProductCategory",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_source_csv",
											"type": "DatasetReference",
											"parameters": {
												"nombre_archivo": "ProductCategory",
												"nombre_directorio": {
													"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_source_parquet",
											"type": "DatasetReference",
											"parameters": {
												"nombre_archivo": "productcategory",
												"nombre_directorio": {
													"value": "@concat('data/productcategory')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Mover Archivo ProductCategory",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copia de Archivo ProductCategory",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_source_binary",
											"type": "DatasetReference",
											"parameters": {
												"nombre_archivo": "ProductCategory",
												"nombre_directorio": {
													"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_source_binary",
											"type": "DatasetReference",
											"parameters": {
												"nombre_archivo": "ProductCategory",
												"nombre_directorio": {
													"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"fecha_proceso": {
						"type": "string"
					}
				},
				"folder": {
					"name": "01_CRAW/CRAW_ADVW"
				},
				"annotations": [],
				"lastPublishTime": "2022-04-13T01:01:32Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_source_parquet')]",
				"[concat(variables('factoryId'), '/datasets/ds_source_binary')]"
			]
		}
	]
}