pipeline/CRAW_ADVW_GRUPO02.json
{
	"name": "CRAW_ADVW_GRUPO02",
	"properties": {
		"activities": [
			{
				"name": "Verificar Si Existe PersonCreditCard",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_csv",
						"type": "DatasetReference",
						"parameters": {
							"nombre_archivo": "PersonCreditCard",
							"nombre_directorio": {
								"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Verificar Si Existe PersonPhone",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_csv",
						"type": "DatasetReference",
						"parameters": {
							"nombre_archivo": "PersonPhone",
							"nombre_directorio": {
								"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Verificar Si Existe SalesOrderDetail",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_csv",
						"type": "DatasetReference",
						"parameters": {
							"nombre_archivo": "SalesOrderDetail",
							"nombre_directorio": {
								"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Verificar Si Existe Product",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_csv",
						"type": "DatasetReference",
						"parameters": {
							"nombre_archivo": "Product",
							"nombre_directorio": {
								"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Verificar Si Existe SpecialOfferProduct",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_csv",
						"type": "DatasetReference",
						"parameters": {
							"nombre_archivo": "SpecialOfferProduct",
							"nombre_directorio": {
								"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Si Archivo PersonCreditCard",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Verificar Si Existe PersonCreditCard",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Verificar Si Existe PersonCreditCard').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copia de Archivo PersonCreditCard",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_csv",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "PersonCreditCard",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_parquet",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "personcreditcard",
										"nombre_directorio": {
											"value": "@concat('data/personcreditcard/','Year=',\nsubstring(pipeline().parameters.fecha_proceso, 0, 4),\n'/Month=',\nsubstring(pipeline().parameters.fecha_proceso, 4, 2))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Mover Archivo PersonCreditCard",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copia de Archivo PersonCreditCard",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "PersonCreditCard",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "PersonCreditCard",
										"nombre_directorio": {
											"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Si Archivo PersonPhone",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Verificar Si Existe PersonPhone",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Verificar Si Existe PersonPhone').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copia de Archivo PersonPhone",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_csv",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "PersonPhone",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_parquet",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "personphone",
										"nombre_directorio": {
											"value": "@concat('data/personphone/','Year=',\nsubstring(pipeline().parameters.fecha_proceso, 0, 4),\n'/Month=',\nsubstring(pipeline().parameters.fecha_proceso, 4, 2))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Mover Archivo PersonPhone",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copia de Archivo PersonPhone",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "PersonPhone",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "PersonPhone",
										"nombre_directorio": {
											"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Si Archivo Product",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Verificar Si Existe Product",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Verificar Si Existe Product').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copia de Archivo Product",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_csv",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "Product",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_parquet",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "product",
										"nombre_directorio": {
											"value": "@concat('data/product/','Year=',\nsubstring(pipeline().parameters.fecha_proceso, 0, 4),\n'/Month=',\nsubstring(pipeline().parameters.fecha_proceso, 4, 2))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Mover Archivo Product",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copia de Archivo Product",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "Product",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "Product",
										"nombre_directorio": {
											"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Si Archivo SalesOrderDetail",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Verificar Si Existe SalesOrderDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Verificar Si Existe SalesOrderDetail').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copia de Archivo SalesOrderDetail",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_csv",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "SalesOrderDetail",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_parquet",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "salesorderdetail",
										"nombre_directorio": {
											"value": "@concat('data/salesorderdetail/','Year=',\nsubstring(pipeline().parameters.fecha_proceso, 0, 4),\n'/Month=',\nsubstring(pipeline().parameters.fecha_proceso, 4, 2))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Mover Archivo SalesOrderDetail",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copia de Archivo SalesOrderDetail",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "SalesOrderDetail",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "SalesOrderDetail",
										"nombre_directorio": {
											"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Si Archivo SpecialOfferProduct",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Verificar Si Existe SpecialOfferProduct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Verificar Si Existe SpecialOfferProduct').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copia de Archivo SpecialOfferProduct",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_csv",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "SpecialOfferProduct",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_parquet",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "specialofferproduct",
										"nombre_directorio": {
											"value": "@concat('data/specialofferproduct/','Year=',\nsubstring(pipeline().parameters.fecha_proceso, 0, 4),\n'/Month=',\nsubstring(pipeline().parameters.fecha_proceso, 4, 2))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Mover Archivo SpecialOfferProduct",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copia de Archivo SpecialOfferProduct",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "SpecialOfferProduct",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "SpecialOfferProduct",
										"nombre_directorio": {
											"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"fecha_proceso": {
				"type": "string"
			}
		},
		"folder": {
			"name": "01_CRAW/CRAW_ADVW"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-12T07:56:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}