pipeline/CRAW_ADVW_GRUPO03.json
{
	"name": "CRAW_ADVW_GRUPO03",
	"properties": {
		"activities": [
			{
				"name": "Verificar Si Existe CreditCard",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_csv",
						"type": "DatasetReference",
						"parameters": {
							"nombre_archivo": "CreditCard",
							"nombre_directorio": {
								"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Si Archivo CreditCard Existe",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Verificar Si Existe CreditCard",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Verificar Si Existe CreditCard').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copia de Archivo CreditCard",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_csv",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "CreditCard",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_parquet",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "creditcard",
										"nombre_directorio": {
											"value": "@concat('data/creditcard/','Year=',\nsubstring(pipeline().parameters.fecha_proceso, 0, 4),\n'/Month=',\nsubstring(pipeline().parameters.fecha_proceso, 4, 2))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Mover Archivo CreditCard",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copia de Archivo CreditCard",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "CreditCard",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "CreditCard",
										"nombre_directorio": {
											"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Verificar Si Existe Customer",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_csv",
						"type": "DatasetReference",
						"parameters": {
							"nombre_archivo": "Customer",
							"nombre_directorio": {
								"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Verificar Si Existe EmailAddress",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_csv",
						"type": "DatasetReference",
						"parameters": {
							"nombre_archivo": "EmailAddress",
							"nombre_directorio": {
								"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Verificar Si Existe Person",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_csv",
						"type": "DatasetReference",
						"parameters": {
							"nombre_archivo": "Person",
							"nombre_directorio": {
								"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Si Archivo EmailAddress Existe",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Verificar Si Existe EmailAddress",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Verificar Si Existe EmailAddress').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copia de Archivo EmailAddress",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_csv",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "EmailAddress",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_parquet",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "emailaddress",
										"nombre_directorio": {
											"value": "@concat('data/emailaddress/','Year=',\nsubstring(pipeline().parameters.fecha_proceso, 0, 4),\n'/Month=',\nsubstring(pipeline().parameters.fecha_proceso, 4, 2))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Mover Archivo EmailAddress",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copia de Archivo EmailAddress",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "EmailAddress",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "EmailAddress",
										"nombre_directorio": {
											"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Si Archivo Person Existe",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Verificar Si Existe Person",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Verificar Si Existe Person').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copia de Archivo Person",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_csv",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "Person",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_parquet",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "person",
										"nombre_directorio": {
											"value": "@concat('data/person/','Year=',\nsubstring(pipeline().parameters.fecha_proceso, 0, 4),\n'/Month=',\nsubstring(pipeline().parameters.fecha_proceso, 4, 2))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Mover Archivo Person",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copia de Archivo Person",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "Person",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "Person",
										"nombre_directorio": {
											"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Si Archivo Customer Existe",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Verificar Si Existe Customer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Verificar Si Existe Customer').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copia de Archivo Customer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_csv",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "Customer",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_parquet",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "customer",
										"nombre_directorio": {
											"value": "@concat('data/customer/','Year=',\nsubstring(pipeline().parameters.fecha_proceso, 0, 4),\n'/Month=',\nsubstring(pipeline().parameters.fecha_proceso, 4, 2))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Mover Archivo Customer",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copia de Archivo Customer",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "Customer",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "Customer",
										"nombre_directorio": {
											"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"fecha_proceso": {
				"type": "string"
			}
		},
		"folder": {
			"name": "01_CRAW/CRAW_ADVW"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-12T07:56:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}