pipeline/CRAW_ADVW_GRUPO01.json
{
	"name": "CRAW_ADVW_GRUPO01",
	"properties": {
		"activities": [
			{
				"name": "Verificar Si Existe ProductCategory",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_csv",
						"type": "DatasetReference",
						"parameters": {
							"nombre_archivo": "ProductCategory",
							"nombre_directorio": {
								"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Si Archivo ProductSubcategory Existe",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Verificar Si Existe ProductSubcategory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Verificar Si Existe ProductSubcategory').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copia de Archivo ProductSubcategory",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_csv",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "ProductSubcategory",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_parquet",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "productsubcategory",
										"nombre_directorio": {
											"value": "@concat('data/productsubcategory')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Mover Archivo ProductSubcategory",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copia de Archivo ProductSubcategory",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "ProductSubcategory",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "ProductSubcategory",
										"nombre_directorio": {
											"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Verificar Si Existe SpecialOffer",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_csv",
						"type": "DatasetReference",
						"parameters": {
							"nombre_archivo": "SpecialOffer",
							"nombre_directorio": {
								"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Verificar Si Existe ProductSubcategory",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_csv",
						"type": "DatasetReference",
						"parameters": {
							"nombre_archivo": "ProductSubcategory",
							"nombre_directorio": {
								"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Si Archivo SpecialOffer Existe",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Verificar Si Existe SpecialOffer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Verificar Si Existe SpecialOffer').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copia de Archivo SpecialOffer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SpecialOfferID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SpecialOfferID",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Description",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Description",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "DiscountPct",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DiscountPct",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Type",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Category",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Category",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "StartDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "StartDate",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "EndDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "EndDate",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "MinQty",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MinQty",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "MaxQty",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MaxQty",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "rowguid",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "rowguid",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "ModifiedDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ModifiedDate",
												"type": "String",
												"physicalType": "UTF8"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_csv",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "SpecialOffer",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_parquet",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "specialoffer",
										"nombre_directorio": {
											"value": "@concat('data/specialoffer')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Mover Archivo SpecialOffer",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copia de Archivo SpecialOffer",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "SpecialOffer",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "SpecialOffer",
										"nombre_directorio": {
											"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Si Archivo ProductCategory Existe",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Verificar Si Existe ProductCategory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Verificar Si Existe ProductCategory').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copia de Archivo ProductCategory",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_csv",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "ProductCategory",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_parquet",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "productcategory",
										"nombre_directorio": {
											"value": "@concat('data/productcategory')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Mover Archivo ProductCategory",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copia de Archivo ProductCategory",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "ProductCategory",
										"nombre_directorio": {
											"value": "@concat('data/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_source_binary",
									"type": "DatasetReference",
									"parameters": {
										"nombre_archivo": "ProductCategory",
										"nombre_directorio": {
											"value": "@concat('archive/',pipeline().parameters.fecha_proceso)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"fecha_proceso": {
				"type": "string"
			}
		},
		"folder": {
			"name": "01_CRAW/CRAW_ADVW"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-13T01:01:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}